{% extends 'base.html' %}
{% block content %}
<h2>Data User</h2>
<table>
    <tr><th>ID</th><th>Username</th><th>Role</th><th>Aksi</th></tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>
            <a href="{{ url_for('update_user', user_id=user.id) }}">Update</a>
            <a href="{{ url_for('delete_user', user_id=user.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('tambah_user') }}">Tambah User</a>
{% endblock %}