{% extends 'base.html' %}
{% block content %}
<h2>Update User</h2>
<form method="POST">
    <input name="username" value="{{ user.username }}" required>
    <input name="password" type="password" placeholder="Password Baru (opsional)">
    <select name="role">
        <option value="user" {% if user.role == 'user' %}selected{% endif %}>User</option>
        <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
    </select>
    <button type="submit">Update</button>
</form>
{% endblock %}